


/*头部开始*/
.m-contop { overflow:hidden; width:100%; height:1.2rem; padding:0; position:relative; }


.m-contop .logo {  display:block; position:relative; text-align:center; width:2.25rem; float:left }

.m-contop h1{  width:2.3rem; float:left; margin-left:0.3rem; margin-top:0.25rem;} 

.m-contop p{ float:right; width:3.4rem; margin-right:0.2rem;}

.m-contop p span { display:block; text-align:right; margin-top:0.2rem; margin-right:0.3rem;}


.m-contop p .tel img{ width:2.82rem;}



.m-contop .logo img { display:inline-block; width:100%}
.clearafter:after{ display:table; content:""; height:0px; line-height:0px; clear:both}


/*banner图片*/

.banner{ width:100%; height:3.6rem;}
.banner img{ width:100%; height:3.6rem;}

/*中间全局样式*/
.bghse{ background:#f1f1f1; padding:0.6rem 0.3rem;}
.bghse h2{ color:#444444; font-size:0.36rem; text-align:center; font-weight:bold}

.bgwhite{ background:#ffffff; padding:0.6rem 0.3rem;}
.bgwhite h2{ color:#444444; font-size:0.36rem; text-align:center; font-weight:bold}

.bghse ul:after{ display: table;content: "";line-height: 0;clear:both}

.bgwhite ul:after{ display: table;content: "";line-height: 0;clear:both}

.bghse:after{ display: table;content: "";line-height: 0;clear:both}

.bgwhite:after{ display: table;content: "";line-height: 0;clear:both}

.bglanse{ background:#56aedc; padding:0.6rem 0.3rem;}
.bglanse h2{ color:#FFF; font-size:0.36rem; text-align:center; font-weight:bold}

.bglanse ul:after{ display: table;content: "";line-height: 0;clear:both}

.bglanse:after{ display: table;content: "";line-height: 0;clear:both}


.mfrx{ height:0.7rem; background:url("telj.png") no-repeat 0.72rem center #FFF;  background-size:0.35rem 0.32rem; padding-left:1.18rem; line-height:0.7rem; margin-top:0.3rem;}

.mfrx span{ color:#e84649; font-size:0.22rem;} 

.mfrx font{ color:#e84649; font-size:0.3rem; margin-left:0.1rem;}

.hse{  background:url("teljb.png") no-repeat 0.72rem center #e84649; background-size:0.35rem 0.32rem;}
.hse span{ color:#FFF}
.hse font{ color:#FFF}
.m30{ margin-left:0.3rem; margin-right:0.3rem;}


.h20{ margin-top:0.5rem;}

.h10{ margin-top:0.2rem;}







/*工商变更服务内容*/

.gsbg ul{ margin-top:0.4rem; }

.gsbg ul li{ float:left; width:2.75rem; height:4.2rem; background:#FFF; margin-bottom:0.3rem; text-align:center}

.gsbg ul .lir{ float:right;}

.gsbg ul li img{ height:0.74rem; margin-top:0.36rem; margin-bottom:0.18rem;}

.gsbg ul li h3{ color:#444444; font-size:0.24rem; margin-bottom:0.18rem;}

.gsbg ul li p{ color:#888888; font-size:0.18rem; padding-left:0.3rem; padding-right:0.3rem; line-height:0.3rem; text-align:left; height:1.5rem; margin-bottom:0.1rem;}

.gsbg ul li h4 a{ color:#FFF; font-size:0.16rem; display:inline-block; width:1.4rem; height:0.4rem; line-height:0.4rem; text-align:center; background:#f04c53}



/*恒诚信注册优势*/

.zhucys{ padding-top:0.6rem; background:#FFF; padding-bottom:0.5rem;}

.zhucys h2{color:#444444; font-size:0.36rem; text-align:center; font-weight:bold}

.pktitle{ background:url("pkt.png") no-repeat; background-size:cover; width:100%; height:0.96rem; margin-top:0.2rem; line-height:0.92rem;}

.pktitle span{ color:#FFF; font-size:0.3rem; font-weight:bold}

.pktitle .ptl{ margin-left:0.85rem;}

.pktitle .ptr{ margin-left:1.82rem;}

.zhucys ul{ padding-top:0.3rem; padding-bottom:0.3rem; padding-left:0.3rem; padding-right:0.3rem; background:#f5f5f5  }


.zhucys .bse{ background:#FFF}

.zhucys ul:after{display: table;content: "";line-height: 0;clear:both}
.zhucys ul li{ width:2.66rem; float:left}

.zhucys ul .lir{ float:right}

.zhucys ul li h3{ height:0.32rem; line-height:0.28rem; color:#e84649; font-size:0.24rem; font-weight:bold;  margin-bottom:0.15rem;}

.zhucys ul li h3 span{ width:0.32rem; height:0.32rem; display:inline-block; margin-right:0.10rem; float:left}
 
.zhucys ul li h3 .fj{ background:url("fj.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .sx{ background:url("sx.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .ds{ background:url("ds.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .bi{ background:url("bi.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .dz{ background:url("dz.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .ht{ background:url("ht.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .fw{ background:url("fw.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .fww{ background:url("fww.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .sf{ background:url("sf.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .fy{ background:url("fy.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .dj{ background:url("dj.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .bdj{ background:url("bdj.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .zz{ background:url("zz.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .de{ background:url("de.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .da{ background:url("da.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .sj{ background:url("sj.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .gwc{ background:url("gwc.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .gwch{ background:url("gwch.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .rj{ background:url("rj.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .rjh{ background:url("rjh.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .jiah{ background:url("jiah.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .jieh{ background:url("jieh.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .hwu{ background:url("hwu.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .wdz{ background:url("wdz.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .sdz{ background:url("sdz.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .mf{ background:url("mf.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .aixin{ background:url("aixin.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .pdui{ background:url("pdui.png") no-repeat;background-size:0.32rem 0.32rem; }
.zhucys ul li h3 .zj{ background:url("zj.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .bb{ background:url("bb.png") no-repeat;background-size:0.32rem 0.32rem; }



.zhucys ul li h3 .sr{ background:url("sr.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .yr{ background:url("yr.png") no-repeat;background-size:0.32rem 0.32rem; }
.zhucys ul li h3 .dmz{ background:url("dmz.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .dmzx{ background:url("dmzx.png") no-repeat;background-size:0.32rem 0.32rem; }



.zhucys ul li h3 .swdz{ background:url("swdz.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .dq{ background:url("dq.png") no-repeat;background-size:0.32rem 0.32rem; }


.zhucys ul li h3 .lindai{ background:url("lindai.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .zy{ background:url("zy.png") no-repeat;background-size:0.32rem 0.32rem; }

.zhucys ul li h3 .lc{ background:url("lc.png") no-repeat;background-size:0.32rem 0.32rem; }



.zhucys ul .lir h3{ color:#444444}

.zhucys ul li p{ color:#666666; font-size:0.22rem; line-height:0.3rem;}

/*流程*/
.szzc{ padding-left:0px; padding-right:0px;}
.szzc ul { margin-top:0.4rem; background:url("jtou3.png") no-repeat center 0.15rem; margin-bottom:0.3rem;background-size:3.65rem 0.31rem; }
.szzc ul li{ width:25%; text-align:center; float:left}


.szzc ul li img{ width:0.64rem;}

.rshi ul li img{ width:auto; height:0.64rem;}

.szzc ul li h3{ color:#333333; font-size:0.24rem; margin-top:0.2rem; margin-top:0.1rem;}

.szzc ul li p{ color:#999999; font-size:0.18rem;}

.szzc ul li .pictu{ height:0.64rem;}


/*服务保障*/

.fwbz{ background:#e3e5db; padding:0.6rem 0.3rem;}
.fwbz h2{ color:#444444; font-size:0.36rem; text-align:center; font-weight:bold; margin-bottom:0.1rem;}
.fwbz ul:after{ display: table;content: "";line-height: 0;clear:both}

.fwbz ul li{ width:2.75rem; height:2.1rem; background:#FFF; border:1px solid #e3e5db; float:left; margin-top:0.3rem; text-align:center}

.fwbz ul .lir{ float:right}


.fwbz ul li img{ height:0.55rem; margin-top:0.28rem; margin-bottom:0.1rem;}

.fwbz ul li h3{ color:#444444; font-size:0.24rem; margin-bottom:0.05rem;}
.fwbz ul li p{ color:#777777; font-size:0.18rem;}

.cnour{ text-align:center; margin-top:0.3rem;}
.cnour span{ padding-left:0.38rem; height:0.24rem; background:url("cnour.png") no-repeat left; color:#f04c53; font-size:0.18rem; display:inline-block; background-size:0.27rem 0.24rem;}



/*无地域*/

.gdwdy ul li{ width:2.75rem; height:3.4rem; float:left; background:#FFF; text-align:center}

.gdwdy ul .lir{ float:right}

.gdwdy ul li img{ margin-top:0.3rem; margin-bottom:0.2rem; height:0.72rem;}
.gdwdy ul li h3{ color:#444444; font-size:0.24rem; margin-bottom:0.1rem;}

.gdwdy ul li p{ color:#888888; font-size:0.18rem;}
 .gdwdy ul li h4{ color:#444444; font-size:0.18rem; margin-top:0.2rem; margin-bottom:0.25rem;}
  .gdwdy ul li h4 font{ color:#f04c53; font-size:0.24rem;}
  
.gdwdy ul li h5 a{ color:#FFF; font-size:0.16rem; display:inline-block; width:1.4rem; height:0.4rem; line-height:0.4rem; text-align:center; background:#f04c53}

.gdwdy ul .w100{ width:100%; margin-top:0.3rem;}

.gshang ul{ margin-top:0.4rem;}

.gshang ul li{ background:#f5f5f5; }
.gshang ul li img{ height:0.48rem;}

/*****************注册商标所需资料**********************/

.sbsxzl{ background:#FFF; margin-top:0.4rem; border:1px solid #e5e5e5}


.sbsxzl ul:first-child{ border-bottom:1px solid #e5e5e5;}

.sbsxzl ul li{  float:left; text-align:center; width:1.4rem; text-align:center; margin-left:0.2rem; }

.sbsxzl ul .lir{ width:60%; padding-left:0.5rem; text-align:left; float:right; border-left:1px solid #e5e5e5; margin-left:0px; padding-top:0.3rem; padding-bottom:0.2rem;}

.sbsxzl ul li .sbpic{ margin-top:0.7rem;}

.sbsxzl ul li .sbpic img{ width:0.64rem;}

.sbsxzl ul li .sbp2 img{ width:0.5rem;}

.sbsxzl ul li h2{ font-size:0.24rem; color:#333333; font-weight:normal}





.sbsxzl ul li span{ display:inline-block; width:100%; color:#333333; font-size:0.2rem; margin-bottom:0.15rem;}

.sbsxzl ul li span font{ display:inline-block; width:0.3rem; height:0.3rem;; text-align:center; line-height:0.3rem; color:#FFF; font-size:0.0.18rem; margin-right:0.15; background:#f04c53;   -moz-border-radius: 50%;      /* Gecko browsers */
    -webkit-border-radius: 50%;    /* Webkit browsers */
    border-radius:50%; margin-right:0.1rem;}
	
	
	
	.sbsxzl ul .splan span font{ background:#56aedc;}
	


.sbsxzl ul .nanse span font{ background:#56aedc;}



/*办理完得到的资料*/

.banli ul{ margin-top:0.4rem;}
.banli ul li{ width:2.64rem; float:left; margin-left:0.15rem; text-align:center; margin-bottom:0.3rem;}

.banli ul li:first-child{ width:100%; margin-left:0px;}
.banli ul li img{ height:2.52rem;}
.banli ul li:first-child img{ width:3.16rem; height:auto}

.banli ul li h3{ color:#333333; font-size:0.24rem; margin-top:0.2rem;}



/*办理完得到的资料*/
.ziliao ul{ margin-top:0.4rem;}
.ziliao ul li{ text-align:center;}

.ziliao ul li img{ padding:0.15rem; border:1px solid #e5e5e5; max-width:80%}

.ziliao ul li h3{ color:#333333; font-size:0.24rem; margin-top:0.2rem;}




/*注册广东省、无地域公司的好处*/





.gdhc ul{ background:#ddeff8; padding:0.3rem; margin-top:0.4rem; }
.gdhc ul li{ margin-bottom:0.15rem; color:#333333; font-size:0.18rem; padding-left:0.45rem;}

.gdhc ul li span{ display:inline-block; background:#56aedc; width:0.3rem; height:0.3rem; text-align:center; line-height:0.3rem;  color:#FFF; font-size:0.18rem; margin-left:-0.45rem; margin-right:0.15rem;}


.gdhc ul li font{ color:#56aedc;}

.ybnha ul li font{ color:#f04c53;}

.jieshi{ color:#074362; font-size:0.18rem; text-align:center; line-height:0.3rem; margin-top:0.4rem; margin-bottom:0.2rem;}

.xgubs{ text-align:center; color:#FFF; font-size:0.2rem; font-weight:bold }


/*所需资料*/


.qhzl ul{ background:#ffffff; margin-top:0.4rem; border:1px solid #e5e5e5; }
.qhzl ul li{ color:#333333; font-size:0.24rem; padding-left:0.65rem; padding-top:0.2rem; padding-bottom:0.2rem; border-top:1px solid #e5e5e5}
.qhzl ul li:first-child{ border:none}

.qhzl ul li span{ display:inline-block; background:#56aedc; width:0.3rem; height:0.3rem; text-align:center; line-height:0.3rem;  color:#FFF; font-size:0.18rem; margin-left:-0.45rem; margin-right:0.15rem;}


.qhzl ul li font{ color:#56aedc;}

.qhzl p{ margin-top:0.3rem; margin-bottom:0.3rem; color:#666666; font-size:0.18rem; text-align:center}
.qhzl p font{color:#56aedc;}

.hzi{ color:#f04c53; font-size:0.22rem; text-align:center}

.sqnszl ul li{ border:none; padding-top:0.1rem; padding-bottom:0.1rem; font-size:0.2rem;}

.sqnszl ul  h3{ color:#333333; font-size:0.24rem; padding-left:0.2rem; margin-top:0.3rem; margin-bottom:0.2rem;}

.sqnszl ul  h4{ color:#333333; font-size:0.24rem; padding-left:0.2rem; margin-top:0.3rem; margin-bottom:0.2rem; border-top:#e5e5e5 1px solid; padding-top:0.3rem;}

 .leftdq{ text-align:left} 

/*办理完得到的资料*/


.blzi ul{ background:#ffffff; margin-top:0.4rem; border:1px solid #e5e5e5; }
.blzi ul li{ color:#333333; font-size:0.24rem; padding-left:0.65rem; padding-top:0.2rem; padding-bottom:0.2rem; border-top:1px solid #e5e5e5}
.blzi ul li:first-child{ border:none}

.blzi ul li span{ display:inline-block; background:#56aedc; width:0.3rem; height:0.3rem; text-align:center; line-height:0.3rem;  color:#FFF; font-size:0.18rem; margin-left:-0.45rem; margin-right:0.15rem;}


.blzi ul li font{ color:#56aedc;}

.yanben{ border:1px solid #e5e5e5; padding-top:0.1rem; padding-bottom:0.1rem; text-align:center; margin-top:0.4rem; background:#FFF }

.yanben span{ display:inline-block; width:46%; margin-left:2%; margin-right:2%;  text-align:right}
.yanben .yan2{ text-align:left}

.yanben span img{ max-width:100%;}


.yanben:after{ display: table;content: "";line-height: 0;clear:both}

.yangb p{ text-align:center; color:#333333; font-size:0.24rem; margin-top:0.1rem;}
.wzzl{ background:none; border:none}
.wzzl span{ width:auto; padding:0.15rem; background:#FFF; border:1px solid #e5e5e5 }



/*注册香港公司的好处和优势*/

.hcys{ padding-right:0.1rem;}
.hezi{ margin-top:0.4rem; color:#666666; font-size:0.22rem; line-height:0.3rem; margin-bottom:0.3rem;}

.hcys ul li{ padding-top:0.15rem; padding-bottom:0.15rem;}
 
.hcys ul li h3{ color:#f04c53; font-size:0.24rem;}
.hcys ul li h3 span{ display:inline-block; margin-right:0.1rem; width:0.3rem; height:0.3rem; background:#f04c53; color:#FFF; font-size:0.18rem; text-align:center; line-height:0.3rem; }

.hcys ul li p{ padding-left:0.42rem; margin-top:0.05rem; color:#333333; font-size:0.18rem; line-height:0.3rem; padding-right:0.1rem;}


/*注册前海公司特享几大优惠政策*/

.yhzc h2 font{ color:#e3453f;}

.gpai{ color:#666666; font-size:0.18rem; line-height:0.3rem; margin-top:0.4rem; margin-bottom:0.4rem;}

.yhzc ul li{ width:2.82rem; height:4.3rem; float:left; background:#FFF; margin-bottom:0.3rem; text-align:center}

.yhzc ul .lir{ float:right}

.yhzc ul li .yhpic{ margin-top:0.3rem; padding-left:0.3rem; padding-right:0.3rem; height:1.28rem; overflow:hidden}
.yhzc ul li .yhpic img{ width:2.2rem;}

.yhzc ul li h3{ color:#444444; font-size:0.24rem; margin-bottom:0.1rem;}
.yhzc ul li p{ text-align:left; line-height:0.3rem; color:#888888; font-size:0.18rem; height:1.58rem; padding-left:0.3rem; padding-right:0.3rem;}
.yhzc ul li h4 a{ display:inline-block; width:1.4rem; height:0.4rem; line-height:0.4rem; text-align:center  ; color:#FFF; font-size:0.18rem; background:#f04c53;}

.yhzc ul li h4 a em{ display:inline-block; background:url("wbg.png") no-repeat center; margin-right:0.05rem; width:0.24rem; height:0.24rem; background-size:0.24rem 0.24rem; vertical-align:middle}


/*记帐报税流程*/

.jzbs{ padding-left:0px; padding-right:0px;}
.jzbs ul{ margin-top:0.4rem; background:url("jtou.png") no-repeat center 0.15rem; background-size:0.32rem 2.43rem; }
.jzbs ul li{ width:3rem; height:2.1rem; text-align:center; float:left}
.jzbs ul .lir{ float:right}
.jzbs ul li h3{ color:#333333; font-size:0.24rem; margin-top:0.2rem; margin-bottom:0.1rem;}

.jzbs ul li p{ color:#999999; font-size:0.18rem; line-height:0.25rem;}
.jzbs ul li img{ height:0.63rem;}
.jckq ul{ background:url("jtou2.png") no-repeat center 0.15rem; background-size:0.32rem 1.84rem;}
.jckq ul li{ height:1.57rem;}

/*开启首次记帐报税*/

.kqnr { margin-top:0.4rem;}

.kqnr img{ float:left; width:1.64rem;}

.kqnr p{ color:#666666; font-size:0.24rem; line-height:0.3rem; margin-bottom:0.2rem;}
.kqnr p font{ color:#f04c53;}

/*前海流程*/

.qhzc{ padding-left:0px; padding-right:0px;}

.qhzc ul{ margin-top:0.4rem; background:url("sjt.png") no-repeat center 0.15rem;background-size:2.5rem 1.87rem;}

.qhzc ul li{ width:33.3%; float:left; text-align:center}


.qhzc ul li h3{ margin-top:0.25rem; margin-bottom:0.35rem; color:#333333; font-size:0.24rem;}

.qhzc ul li .tux{ height:0.64rem;}

.qhzc ul li .tux img{width:0.64rem;}


.qhzc ul .li4{ margin-left:1rem;}

.qhzc p{ color:#f04c53; font-size:0.22rem; margin-top:0.3rem; margin-bottom:0.3rem; text-align:center}


/*变更法人*/
.bgfrw{ padding-top:0.6rem; padding-bottom:0.3rem; padding-left:0px; padding-right:0px;}

.bgfr{ background:#FFF; padding-top:0.6rem; padding-bottom:0.4rem; margin-top:0.4rem;}

.bgfr h4{ color:#333333; font-size:0.3rem; padding-bottom:0.1rem; text-align:center; background:url("hxian.gif") no-repeat center bottom;}
.bgfr ul{margin-top: 0.4rem;
background: url("sjt.png") no-repeat center 0.15rem;
background-size: 2.5rem 1.87rem;}

.bgfr ul li{ width:33.33%; float:left; text-align:center}

.bgfr ul li .tux {
    height: 0.64rem;
}

.bgfr ul li h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.35rem;
    color: #888888;
    font-size: 0.22rem;
}



.bgqhzl h2{ color:#333333; font-size:0.3rem; font-weight:normal; padding-bottom:0.1rem; text-align:center; background:url("hxian.gif") no-repeat center bottom;}

.bgqhzl ul .sx2{ background:#fafafa;}

.top4{ margin-top:0.4rem;}

.banlibgfr{ padding-top:0.3rem; padding-bottom:0.3rem; background:#f1f1f1;}


.banbgfr{  margin-top:0.4rem; border:#e5e5e5 1px solid;}

.banbgfr li{ height:0.9rem; border-top:#e5e5e5 1px solid; width:100%}

.banbgfr li:first-child{ border-top:none; height:0.7rem; background:#fafafa;}

.banbgfr li h3{ width:50%; float:left; height:0.7rem; line-height:0.7rem; text-indent:0.2rem; position:relative; color:#333333; font-size:0.22rem;}


.banbgfr li p{ height:0.9rem; width:50%; float:left; line-height:0.85rem; position:relative }

.banbgfr li p span{ display:inline-block; line-height:0.3rem; color:#666666; font-size:0.22rem; padding-left:0.2rem; vertical-align:middle}

.banbgfr li p span font{ color:#56aedc;}

 .banbgfr li .first:after{ position:absolute; display:block; height:100%; width:1px; right:0px; top:0px; content:""; background:#e5e5e5;}
 
 /*出口退税*/
 .bghui{ background:#f1f1f1; padding-bottom:0.3rem;}
 
 .btida{ text-align:center; color:#444444; font-size:0.36rem; padding-top:0.6rem; font-weight:bold; }
  .bgchkh{ background:#FFF;margin-top:0.3rem; padding-left:0.3rem; padding-right:0.3rem; padding-top:0.6rem; padding-bottom:0.6rem;}
 
 .bgchkh h3{ color:#333333; font-size:0.3rem; font-weight:normal; padding-bottom:0.1rem; text-align:center; background:url("hxian.gif") no-repeat center bottom;}
 
 
  .bgchkh ul{ margin-top:0.4rem;}
  
  .bgchkh ul li{ height: 0.5rem;
line-height: 0.5rem;
color: #333333;
font-size: 0.24rem;
padding-left: 0.12rem;
background: url("leftjtou.png") no-repeat left; border-top:1px dashed #e5e5e5}


  .bgchkh ul li:first-child{ border-top:none}
  
  .nrcont{ margin-top:0.4rem;}
  .bglchen{ background:#FFF; margin-top:0.4rem;}
  
  .bglchen .bltitle{ color:#333333; font-size:0.3rem; font-weight:normal; padding-bottom:0.1rem; text-align:center; background:url("hxian.gif") no-repeat center bottom;}
  
  

 


/*底部*/

.fot{ background:#2b2b2b}
.foot{ padding:0.3rem; padding-top:0.36rem;}
.foot h2{ color:#cccccc; font-size:0.24rem; margin-bottom:0.15rem;}
.foot ul li{ color:#777777; font-size:0.2rem; margin-bottom:0.05rem;}

.foot ul li span{ margin-right:0.5rem;}
.flianxi{ padding-top:0.3rem; padding-bottom:0.3rem; border-top:#333333 1px solid; border-bottom:#333333 1px solid; margin-top:0.25rem; margin-bottom:0.3rem;}

.flianxi .footel{ display:inline-block;  width:2.13rem; height:0.26rem; background:url("footel.png") no-repeat; margin-left:0.1rem; background-size:2.13rem 0.26rem; margin-right:2.13rem;}

.flianxi .weibo img{ width:0.36rem; height:0.36rem; margin-left:0.03rem; margin-right:0.03rem;} 

.foot p{ color:#777777; font-size:0.18rem; text-align:center; line-height:0.3rem;}